.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.auth-card {
background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    color: white;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    outline-color: #3b82f6;
}

.auth-btn {
    width: 100%;
    background-color: #2d00f8;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.auth-btn:hover {
    background-color: #331dd8;
}

p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
}

.admin-link {
    font-size: 0.75rem;
    color: #6b7280;
}

